body{
    display: flex;
    flex-direction: row;
}
#map{
    flex: 1;
}



.yaxis path, .yaxis line, .xaxis path, .xaxis line{
    fill: none;
    stroke: #969696;
    shape-rendering: crispEdges;
    stroke-width: 1px;
    
}

#population text{
    padding:5em;
}

.tootlip{
    position:absolute;
    text-align: center;
    border:1px solid #ccc8c8;
    background: white;
    font-size:1em;

}